.blog-preview {
	display: flex;
	flex-direction: row;
	padding: 10px 16px;
	margin: 20px 0;
	border: 2px solid transparent;
	border-bottom: 2px solid $color-dark-gray;
	transition: all 0.6s ease-in-out;

	& h3 {
		font-size: 20px;
		color: $color-accent-2;
		margin-bottom: 8px;
	}

	& a {
		text-decoration: none;
	}

	&:hover {
		border: 2px solid $color-accent-2;
		border-radius: 10px;
	}
}
